.column-layout {
    .header {
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
        color: #1a1a1a;
        padding: 20px 0 16px;

        .header-inner {
            position: relative;
            width: 690px;
            margin: 0 auto;
            min-height: 124px;
        }
    }
}