.item {
    width: 100%;

    .header {
        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 16px;

            > a,
            > a:hover,
            > a:focus {
                color: #262626;
            }
        }

        .tags {
            margin-bottom: 16px;

            .tag {
                margin-right: 8px;
            }
        }

        .author {
            .extra {
                margin-left: 5px;
            }
            .column-name {
                margin-left: 5px;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }
    .body {
        display: block;

        .cover {
            background-size: cover;
            background-position: 50%;
            width: 96px;
            height: 60px;
            border-radius: 2px;
            justify-content: flex-end;
            margin: 16px 0 0 16px;
        }

        .description,
        .content {
            flex: 1;
            margin: 16px 0;
            word-wrap: break-word;
            width: 100%;

            .read-more {
                padding: 4px 0;
            }

            .paid-read-link {
                color: @primary-color;
            }
        }

        .description {
            text-overflow: ellipsis;
            color: #8c8c8c;
            display: -webkit-box;
            max-height: 63px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
        }

        .description > a {
            color: #595959;
        }
    }

    .body.has-cover {
        display: flex;
    }
}

.content {
    .footer {
        margin-top: 10px;

        .time {
            font-size: 14px;
            color: #8590a6;
        }
    }
}
