.settings-form {
    :global {
        .ant-card-body > .ant-card {
            margin-bottom: 24px;
            > .ant-card-body {
                display: flex;
                align-items: center;

                .ant-card-meta {
                    margin: 0;
                    flex: 1;
                }
            }
        }
    }
}
