.comment-list {
    background: #fff;
    margin-top: 16px;
    overflow: visible;
    border-radius: 4px;
    border: 1px solid #ebebeb;

    :global(.ant-list) {
        :global {
            .ant-list-header {
                background: #fff;
                border-top: 1px solid #f6f6f6;
                border-bottom: 1px solid #f6f6f6;
                justify-content: space-between;
                padding: 12px 20px;
            }

            .ant-list-item-meta-title {
                margin-bottom: 0;
            }

            .ant-list-empty-text {
                padding: 0;
            }
        }
    }

    :global(.ant-list:first-child .ant-list-header) {
        border-top: 0 none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .comment-title {
        font-size: 14px;
        font-weight: 600;
        color: #1a1a1a;
        margin-bottom: 0;
    }

    .comment-item:global(.ant-list-item) {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 10px 10px 4px;
        font-size: 14px;
        border-bottom: 0 none;
    }

    .comment-item:global(.ant-list-item:first-child) {
        padding-top: 12px;
    }

    .comment-item:global(.ant-list-item:last-child) {
        padding-bottom: 4px;
    }

    .comment-item:not(:last-child):after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: 0 10px;
        border-bottom: 1px solid #f6f6f6;
        content: '';
    }

    .comment-meta {
        position: relative;
        height: 24px;
        padding-right: 3px;
        padding-left: 1px;
        margin-bottom: 4px;
        line-height: 24px;

        :global {
            .ant-list-item-meta-avatar {
                margin-right: 8px;
            }
        }
    }

    .comment-meta-title {
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: center;

        :global(.user-author) {
            flex: 1;
        }
    }

    .comment-meta-time {
        font-weight: normal;
        font-size: 14px;
        color: #8590a6;
    }

    .comment-meta-reply {
        margin-right: 8px;
        margin-left: 8px;
        color: #8590a6;
        font-weight: normal;
    }

    .comment-body {
        width: 100%;
        margin-bottom: 4px;
        padding-left: 32px;

        .comment-content {
            position: relative;
        }

        .comment-action {
            margin-top: 4px;
            button {
                padding-left: 0;
                margin-right: 8px;
            }
        }
    }

    .comment-scroll {
        max-height: calc(100vh - 188px);
        overflow: auto;
    }

    .comment-child {
        padding-left: 0;
        margin-top: 8px;
        border-top: 1px solid #f6f6f6;

        > .comment-item {
            padding-left: 0;
            padding-right: 0;
        }

        > .comment-child-more {
            padding-left: 32px;

            button {
                padding-left: 0;
            }
        }

        .comment-item:not(:last-child):after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            margin: 0 32px 0 0;
            border-bottom: 1px solid #f6f6f6;
            content: '';
        }
    }

    .comment-page {
        padding: 16px 20px;
        text-align: center;
        margin: 0 auto;
        border-top: 1px solid #f0f0f0;

        :global {
            .ant-pagination-item {
                color: #1a1a1a;
                transition: color 0.2s;
                border: 0 none;
                height: auto;
                line-height: initial;
                min-width: auto;
                padding: 0 15px;
                margin: 0;

                a {
                    padding: 0;
                }
            }

            .ant-pagination-prev,
            .ant-pagination-next {
                height: auto;
                line-height: initial;
            }
        }
    }

    .comment-footer {
        padding: 12px 20px;
        background: transparent;
        border-top: 1px solid #f0f0f0;
    }
}

.comment-empty {
    .comment-footer {
        border-top: 0 none;
    }
}

.comment-editor {
    padding: 10px 0;

    .comment-not-login {
        text-align: center;
        font-weight: 700;
    }

    .comment-warp {
        position: relative;
        padding-right: 82px;
        transition: padding-right 0.3s ease;

        :global {
            .itellyou-line-editor {
                border: 1px solid #ebebeb;
                border-radius: 4px;

                .itellyou-content-editor {
                    border: 0 none;
                    border-radius: 4px;
                    overflow: hidden;
                    width: 100%;

                    .itellyou-engine {
                        background: transparent;
                    }
                }

                .itellyou-editor-bottom {
                    display: flex;
                    justify-content: flex-end;
                }

                .itellyou-toolbar {
                    height: auto;
                    padding: 0 6px;

                    .itellyou-toolbar-content {
                        height: 36px;
                        line-height: 36px;

                        .itellyou-toolbar-content-plugins {
                            max-height: 36px;
                        }
                    }

                    button[accessbilityid='main-emoji-button'] {
                        font-size: 20px;
                        padding-right: 0;
                    }
                }
            }
        }

        .comment-editor-submit {
            position: absolute;
            right: 0;
            bottom: 1px;
            height: 36px;
            transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
            transform: scale(1);
        }
    }

    .comment-single {
        :global {
            .itellyou-line-editor {
                display: flex;
                align-items: flex-end;
                flex: 1 1;

                .itellyou-editor-bottom {
                    display: block;
                }
            }
        }
    }

    .comment-active {
        :global {
            .itellyou-line-editor {
                border: 1px solid #8590a6;
            }
        }
    }

    .comment-hide-btn {
        padding-right: 0;

        .comment-editor-submit {
            transform: scale(0);
        }
    }
}

.comment-detail-layout {
    .comment-detail-header {
        padding-left: 0;
    }

    .comment-detail-divider {
        height: 10px;
        background-color: #f6f6f6;
    }

    .comment-list {
        border: 0 none;
        margin: 0;
        box-shadow: none;

        :global {
            .ant-list {
                .ant-list-header {
                    border: 0 none;
                    position: relative;
                }

                .ant-list-header:after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    margin: 0 20px;
                    border-bottom: 1px solid #f6f6f6;
                    content: '';
                }
            }
        }

        .comment-item {
            display: block;
        }
    }
}
