.login-form {
    margin-top: 36px;

    :global {
        .ant-tabs-nav-wrap {
            text-align: center;
        }
    }

    .third-login {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-top: 26px;
        padding-top: 26px;
    }

    .login-footer {
        margin-top: 26px;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}

.protocol {
    margin-top: 8px;
    color: #8c8c8c;
    text-align: center;
}

.title {
    font-size: 32px;
    line-height: 1.2;
    color: #262626;
    text-align: center;
    font-weight: 500;

    .sub {
        font-weight: normal;
        color: #595959;
        margin-top: 8px;
        font-size: 18px;
    }
}
