.info-card{

    :global(.ant-card-body){
        position: relative;
        padding: 32px 0 0;
    }

    .info-head {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #8c8c8c;
    
        h2 {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 4px;
            font-size: 20px;
            color: #262626;
            margin-top: 20px;
        }
    
        .description {
            margin: 0 auto;
            padding: 0 16px;
            max-width: 256px;
            word-wrap: break-word;
        }
    }
    
    .info-follow{
        margin-top: 16px;
        text-align: center;
    
        .btn{
            width: 100%;
            max-width: 208px;
        }
    
        .info{
            position: relative;
            overflow: hidden;
            margin: 4px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            >.split{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -16px;
                width: 1px;
                height: 32px;
                background-color: #e8e8e8;
            }
    
            >a{
                width: 50%;
                padding: 16px;
                color: #8c8c8c;
    
                .count {
                    font-size: 20px;
                    font-weight: 700;
                    color: #595959;
                }
            }
        }
    }
    
    .info-detail {
        border-top: 1px solid #e8e8e8;
        padding: 16px;
        font-size: 14px;
        color: #8c8c8c;
    }
}