.footer{
    background: #fafafa;
    color: #8c8c8c;
    font-size: 12px;
    padding: 16px 0;

    .copyright{
        line-height: 22px;
        text-align: center;
    
        > p {
            margin: 0;
        }
    }
}
