.article-view {
    :global(.ant-card-body) {
        padding: 24px 34px;
    }
}
.article {
    .header {
        .title {
            font-size: 30px;
            margin-bottom: 16px;
            word-break: break-word;
        }
    }
}
