.warpper {
    .title {
        font-size: 16px;
        text-align: center;

        .desc {
            margin: 0;
        }

        .amount {
            color: #e96a30;
            font-size: 28px;
            margin: 5px 10px;
            font-weight: 600;
        }
    }

    .qr-code {
        position: relative;
        width: 260px;
        height: 260px;
        margin: 0 auto;
        border: 1px solid #efefef;
        border-radius: 1px;
        overflow: hidden;
    }

    .footer {
        color: #595959;
        font-size: 14px;
        margin-top: 24px;
        text-align: center;
        padding-bottom: 40px;
    }
}
