html, body, #root {
    height: 100%;
    background-color: #ffffff;
}

body {
    margin: 0;
}

.layout-container , .layout-container-wider , .layout-container-middle , .layout-container-full{
    max-width: 1056px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    .box-section{
        padding-top:30px;
    }
}
  
.layout-container-wider {
    max-width: 1440px;
}
  
.layout-container-middle {
    max-width: 1216px;
}
  
.layout-container-full {
    max-width: 100%;
}

.layout-container-main {
    padding-top: 24px;
    padding-bottom: 32px
}

.main-wrapper {
    width: 100%;
    min-height: calc(100vh);
    background: #ffffff;
}

.ant-alert-tip {
    background: #F9FBFB;
    
    .ant-alert-message {
        color: #9EACB6;
    }
}

.ant-alert-tip.ant-alert-banner {
    margin-bottom: 20px;
    border-radius: 4px;
}

body {
    .ant-btn, .ant-btn:focus, .ant-btn:hover {
        background-image: linear-gradient(0deg,#f5f5f5,#fff);
    }

    .ant-btn.ant-btn-dashed, .ant-btn.ant-btn-dashed:focus, .ant-btn.ant-btn-dashed:hover, .ant-btn.ant-btn-primary, .ant-btn.ant-btn-primary:focus, .ant-btn.ant-btn-primary:hover,
    .ant-btn.ant-btn-link, .ant-btn.ant-btn-link:focus, .ant-btn.ant-btn-link:hover,.ant-btn.ant-btn-ghost, .ant-btn.ant-btn-ghost:focus, .ant-btn.ant-btn-ghost:hover{
        background-image:none;
    }

    .ant-btn.ant-btn-dashed, .ant-btn.ant-btn-primary,.ant-btn.ant-btn-link,.ant-btn-ghost {
        box-shadow: none;
    }

    .ant-btn-ghost {
        border: 0 none;
    }
}

.itellyou-popover .ant-popover-open {
    color: #347EFF
}

.itellyou-popover .ant-popover-open.ant-btn-primary {
    color: #fff
}

.itellyou-popover .ant-popover-arrow {
    width: 11.3137085px;
    height: 11.3137085px;
    border-width: 5.65685425px;
    border-top-left-radius: 2px;
    margin-top: -1px
}

.itellyou-popover .ant-popover-inner .ant-menu {
    border-radius: 4px
}

.itellyou-popover .ant-popover-content {
    min-width: 140px
}

.itellyou-popover.itellyou-popover-menu .ant-popover-inner-content {
    padding: 0
}

.itellyou-popover .ant-popover .ant-menu {
    padding: 8px 0;
    border: none
}

.itellyou-popover .ant-popover .ant-menu .ant-menu-item {
    height: 32px;
    line-height: 32px;
    color: #595959
}

.itellyou-popover .ant-popover .ant-menu .ant-menu-item:hover {
  color: #595959;
  background-color: #e9f7ec
}

.itellyou-popover .ant-popover .ant-menu .ant-menu-item a {
  color: #595959
}

.itellyou-popover .ant-popover .ant-menu .ant-menu-item a:hover {
  color: #595959
}

.itellyou-popover .ant-popover .ant-menu .ant-menu-item-divider {
  margin: 4px 0
}

.itellyou-popover .ant-popover .ant-menu .text {
  margin-left: 8px
}

.details-reset>summary{list-style:none;}
.details-reset>summary:before{display:none}
.details-reset>summary::-webkit-details-marker{display:none}